/bin
/**/log
/**/logarchive
/**/__pycache__
/build
/ide_bin
/.gradle
/.idea
/classes
/fileStore
/gen
/out
/target
/.DS_Store
/**/target/*
/**/log/*
/venv
/eval-interview/src/main/python
/**/.DS_Store
/**/*iml

/**/.vs
/**/bin
/**/obj
/**/*swp

/**/packages

/**/*ignore

**/*interp
**/*tokens
**/.antlr
**/output
**/output_py
